.intro__list{
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
    list-style: none;
    padding: 0;
    margin: 34px 0 0 0;
}
@media screen and (min-width: 768px) {
    .intro__list{
        margin-top: 33px;
    }
}