@font-face {
    font-family: "Inter";
   src: url("Inter-Black-slnt.woff") format("woff");
     src: url("Inter-Black-slnt.ttf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "Inter";
    src:  url("Inter-Regular-slnt.woff") format("woff");
    src:  url('Inter-Regular-slnt.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}
