.lead__background-image{
    width: 100%;
    height: 62.5vw;
    background-image: url("../../../images/kalegin-michail-179870-unsplash.png");
    background-position: center;
    background-size: cover;
    margin-top: 40px;
    box-sizing: border-box;

}
@media screen and (min-width: 768px) {
    .lead__background-image{
        margin-top: 56px;
    }
}
@media screen and (min-width: 1280px) {
    .lead__background-image{
        margin-top: 64px;

    }
}