.cover__overlay{
    background-image:url("../../../images/__background.svg") ;
    width: 100%;
    height: 62.5vw;
    max-height: 740px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    box-sizing: border-box;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-decoration: none;
    color: #FFFFFF;
}
